If we want to download tickers or infomation from internet, can use the next ex:

https://analyzingalpha.com/yfinance-python

In [1]:
import yfinance as yf
import datetime as dt

In [5]:
Amazon = yf.Ticker("AMZN")
Amazon.info

{'address1': '410 Terry Avenue North',
 'city': 'Seattle',
 'state': 'WA',
 'zip': '98109-5210',
 'country': 'United States',
 'phone': '206 266 1000',
 'website': 'https://www.aboutamazon.com',
 'industry': 'Internet Retail',
 'industryKey': 'internet-retail',
 'industryDisp': 'Internet Retail',
 'sector': 'Consumer Cyclical',
 'sectorKey': 'consumer-cyclical',
 'sectorDisp': 'Consumer Cyclical',
 'longBusinessSummary': "Amazon.com, Inc. engages in the retail sale of consumer products, advertising, and subscriptions service through online and physical stores in North America and internationally. The company operates through three segments: North America, International, and Amazon Web Services (AWS). It also manufactures and sells electronic devices, including Kindle, Fire tablets, Fire TVs, Echo, Ring, Blink, and eero; and develops and produces media content. In addition, the company offers programs that enable sellers to sell their products in its stores; and programs that allow authors, independent publishers, musicians, filmmakers, Twitch streamers, skill and app developers, and others to publish and sell content. Further, it provides compute, storage, database, analytics, machine learning, and other services, as well as advertising services through programs, such as sponsored ads, display, and video advertising. Additionally, the company offers Amazon Prime, a membership program. The company's products offered through its stores include merchandise and content purchased for resale and products offered by third-party sellers. It serves consumers, sellers, developers, enterprises, content creators, advertisers, and employees. Amazon.com, Inc. was incorporated in 1994 and is headquartered in Seattle, Washington.",
 'fullTimeEmployees': 1525000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Jeffrey P. Bezos',
   'age': 59,
   'title': 'Founder & Executive Chairman',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 1681840,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Andrew R. Jassy',
   'age': 55,
   'title': 'President, CEO & Director',
   'yearBorn': 1968,
   'fiscalYear': 2023,
   'totalPay': 1722764,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Brian T. Olsavsky',
   'age': 59,
   'title': 'Senior VP & CFO',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 371600,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. David A. Zapolsky',
   'age': 59,
   'title': 'Senior VP of Global Public Policy & General Counsel',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 371600,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Douglas J. Herrington',
   'age': 56,
   'title': 'Chief Executive Officer of Worldwide Amazon Stores',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 394231,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Shelley L. Reynolds',
   'age': 58,
   'title': 'VP, Worldwide Controller & Principal Accounting Officer',
   'yearBorn': 1965,
   'fiscalYear': 2023,
   'totalPay': 163200,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Werner  Vogels',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Dave  Fildes',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Anuradha  Aggarwal',
   'title': 'CMO & Director of User Growth',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Beth  Galetti M.B.A.',
   'title': 'Senior Vice President of Worldwide Human Resources',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 5,
 'boardRisk': 9,
 'compensationRisk': 10,
 'shareHolderRightsRisk': 3,
 'overallRisk': 9,
 'governanceEpochDate': 1727740800,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://phx.corporate-ir.net/phoenix.zhtml?c=97664&p=irol-irhome',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 181.96,
 'open': 185.71,
 'dayLow': 183.6,
 'dayHigh': 187.6,
 'regularMarketPreviousClose': 181.96,
 'regularMarketOpen': 185.71,
 'regularMarketDayLow': 183.6,
 'regularMarketDayHigh': 187.6,
 'beta': 1.147,
 'trailingPE': 44.407143,
 'forwardPE': 32.04639,
 'volume': 40862878,
 'regularMarketVolume': 40862878,
 'averageVolume': 40261071,
 'averageVolume10days': 35162780,
 'averageDailyVolume10Day': 35162780,
 'bid': 186.43,
 'ask': 186.57,
 'bidSize': 200,
 'askSize': 100,
 'marketCap': 1957534236672,
 'fiftyTwoWeekLow': 118.35,
 'fiftyTwoWeekHigh': 201.2,
 'priceToSalesTrailing12Months': 3.2391596,
 'fiftyDayAverage': 179.254,
 'twoHundredDayAverage': 176.98305,
 'currency': 'USD',
 'enterpriseValue': 2026278223872,
 'profitMargins': 0.0735,
 'floatShares': 9360261411,
 'sharesOutstanding': 10495599616,
 'sharesShort': 83843599,
 'sharesShortPriorMonth': 80798431,
 'sharesShortPreviousMonthDate': 1723680000,
 'dateShortInterest': 1726185600,
 'sharesPercentSharesOut': 0.008,
 'heldPercentInsiders': 0.08988,
 'heldPercentInstitutions': 0.64102995,
 'shortRatio': 2.49,
 'shortPercentOfFloat': 0.0089,
 'impliedSharesOutstanding': 10495599616,
 'bookValue': 22.54,
 'priceToBook': 8.274622,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1719705600,
 'earningsQuarterlyGrowth': 0.998,
 'netIncomeToCommon': 44418998272,
 'trailingEps': 4.2,
 'forwardEps': 5.82,
 'pegRatio': 1.21,
 'lastSplitFactor': '20:1',
 'lastSplitDate': 1654473600,
 'enterpriseToRevenue': 3.353,
 'enterpriseToEbitda': 19.474,
 '52WeekChange': 0.45415556,
 'SandP52WeekChange': 0.32645774,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AMZN',
 'underlyingSymbol': 'AMZN',
 'shortName': 'Amazon.com, Inc.',
 'longName': 'Amazon.com, Inc.',
 'firstTradeDateEpochUtc': 863703000,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '261fd26b-0151-3813-b0d0-97e4ed4c6505',
 'messageBoardId': 'finmb_18749',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 186.51,
 'targetHighPrice': 265.0,
 'targetLowPrice': 180.0,
 'targetMeanPrice': 219.26,
 'targetMedianPrice': 220.0,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 58,
 'totalCash': 89091997696,
 'totalCashPerShare': 8.489,
 'ebitda': 104049000448,
 'totalDebt': 157841997824,
 'quickRatio': 0.84,
 'currentRatio': 1.096,
 'totalRevenue': 604333998080,
 'debtToEquity': 66.756,
 'revenuePerShare': 58.221,
 'returnOnAssets': 0.06584,
 'returnOnEquity': 0.21933001,
 'freeCashflow': 59191001088,
 'operatingCashflow': 107951996928,
 'earningsGrowth': 0.938,
 'revenueGrowth': 0.101,
 'grossMargins': 0.48043,
 'ebitdaMargins': 0.17216998,
 'operatingMargins': 0.09915,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.7715}

In [24]:
Amazon.info.keys()

dict_keys(['address1', 'city', 'state', 'zip', 'country', 'phone', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'auditRisk', 'boardRisk', 'compensationRisk', 'shareHolderRightsRisk', 'overallRisk', 'governanceEpochDate', 'compensationAsOfEpochDate', 'irWebsite', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'beta', 'trailingPE', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'currency', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'sharesShort', 'sharesShortPriorMonth', 'sharesShortPreviousMonthDate', 'dateShortInterest', 'sharesPercentSharesOut', 'heldPercentInsiders', 'heldPercentInstitutions', 'shortRatio', 'shortPercentOfFloat', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'pegRatio', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'exchange', 'quoteType', 'symbol', 'underlyingSymbol', 'shortName', 'longName', 'firstTradeDateEpochUtc', 'timeZoneFullName', 'timeZoneShortName', 'uuid', 'messageBoardId', 'gmtOffSetMilliseconds', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationMean', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'trailingPegRatio'])

Other way to show the inf

In [25]:
for keys in Amazon.info.keys():
    print(keys)

address1
city
state
zip
country
phone
website
industry
industryKey
industryDisp
sector
sectorKey
sectorDisp
longBusinessSummary
fullTimeEmployees
companyOfficers
auditRisk
boardRisk
compensationRisk
shareHolderRightsRisk
overallRisk
governanceEpochDate
compensationAsOfEpochDate
irWebsite
maxAge
priceHint
previousClose
open
dayLow
dayHigh
regularMarketPreviousClose
regularMarketOpen
regularMarketDayLow
regularMarketDayHigh
beta
trailingPE
forwardPE
volume
regularMarketVolume
averageVolume
averageVolume10days
averageDailyVolume10Day
bid
ask
bidSize
askSize
marketCap
fiftyTwoWeekLow
fiftyTwoWeekHigh
priceToSalesTrailing12Months
fiftyDayAverage
twoHundredDayAverage
currency
enterpriseValue
profitMargins
floatShares
sharesOutstanding
sharesShort
sharesShortPriorMonth
sharesShortPreviousMonthDate
dateShortInterest
sharesPercentSharesOut
heldPercentInsiders
heldPercentInstitutions
shortRatio
shortPercentOfFloat
impliedSharesOutstanding
bookValue
priceToBook
lastFiscalYearEnd
nextFiscalYearEnd
mostRecentQuarter
earningsQuarterlyGrowth
netIncomeToCommon
trailingEps
forwardEps
pegRatio
lastSplitFactor
lastSplitDate
enterpriseToRevenue
enterpriseToEbitda
52WeekChange
SandP52WeekChange
exchange
quoteType
symbol
underlyingSymbol
shortName
longName
firstTradeDateEpochUtc
timeZoneFullName
timeZoneShortName
uuid
messageBoardId
gmtOffSetMilliseconds
currentPrice
targetHighPrice
targetLowPrice
targetMeanPrice
targetMedianPrice
recommendationMean
recommendationKey
numberOfAnalystOpinions
totalCash
totalCashPerShare
ebitda
totalDebt
quickRatio
currentRatio
totalRevenue
debtToEquity
revenuePerShare
returnOnAssets
returnOnEquity
freeCashflow
operatingCashflow
earningsGrowth
revenueGrowth
grossMargins
ebitdaMargins
operatingMargins
financialCurrency
trailingPegRatio

In [26]:
print(Amazon.info["sector"])

Consumer Cyclical

In [27]:
print(Amazon.info["beta"])

1.147

In [28]:
for keys, values in Amazon.info.items():
    print(keys, ":", values)

address1 : 410 Terry Avenue North
city : Seattle
state : WA
zip : 98109-5210
country : United States
phone : 206 266 1000
website : https://www.aboutamazon.com
industry : Internet Retail
industryKey : internet-retail
industryDisp : Internet Retail
sector : Consumer Cyclical
sectorKey : consumer-cyclical
sectorDisp : Consumer Cyclical
longBusinessSummary : Amazon.com, Inc. engages in the retail sale of consumer products, advertising, and subscriptions service through online and physical stores in North America and internationally. The company operates through three segments: North America, International, and Amazon Web Services (AWS). It also manufactures and sells electronic devices, including Kindle, Fire tablets, Fire TVs, Echo, Ring, Blink, and eero; and develops and produces media content. In addition, the company offers programs that enable sellers to sell their products in its stores; and programs that allow authors, independent publishers, musicians, filmmakers, Twitch streamers, skill and app developers, and others to publish and sell content. Further, it provides compute, storage, database, analytics, machine learning, and other services, as well as advertising services through programs, such as sponsored ads, display, and video advertising. Additionally, the company offers Amazon Prime, a membership program. The company's products offered through its stores include merchandise and content purchased for resale and products offered by third-party sellers. It serves consumers, sellers, developers, enterprises, content creators, advertisers, and employees. Amazon.com, Inc. was incorporated in 1994 and is headquartered in Seattle, Washington.
fullTimeEmployees : 1525000
companyOfficers : [{'maxAge': 1, 'name': 'Mr. Jeffrey P. Bezos', 'age': 59, 'title': 'Founder & Executive Chairman', 'yearBorn': 1964, 'fiscalYear': 2023, 'totalPay': 1681840, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Andrew R. Jassy', 'age': 55, 'title': 'President, CEO & Director', 'yearBorn': 1968, 'fiscalYear': 2023, 'totalPay': 1722764, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Brian T. Olsavsky', 'age': 59, 'title': 'Senior VP & CFO', 'yearBorn': 1964, 'fiscalYear': 2023, 'totalPay': 371600, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. David A. Zapolsky', 'age': 59, 'title': 'Senior VP of Global Public Policy & General Counsel', 'yearBorn': 1964, 'fiscalYear': 2023, 'totalPay': 371600, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Douglas J. Herrington', 'age': 56, 'title': 'Chief Executive Officer of Worldwide Amazon Stores', 'yearBorn': 1967, 'fiscalYear': 2023, 'totalPay': 394231, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Shelley L. Reynolds', 'age': 58, 'title': 'VP, Worldwide Controller & Principal Accounting Officer', 'yearBorn': 1965, 'fiscalYear': 2023, 'totalPay': 163200, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Dr. Werner  Vogels', 'title': 'Chief Technology Officer', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Dave  Fildes', 'title': 'Director of Investor Relations', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Anuradha  Aggarwal', 'title': 'CMO & Director of User Growth', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Beth  Galetti M.B.A.', 'title': 'Senior Vice President of Worldwide Human Resources', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}]
auditRisk : 5
boardRisk : 9
compensationRisk : 10
shareHolderRightsRisk : 3
overallRisk : 9
governanceEpochDate : 1727740800
compensationAsOfEpochDate : 1703980800
irWebsite : http://phx.corporate-ir.net/phoenix.zhtml?c=97664&p=irol-irhome
maxAge : 86400
priceHint : 2
previousClose : 181.96
open : 185.71
dayLow : 183.6
dayHigh : 187.6
regularMarketPreviousClose : 181.96
regularMarketOpen : 185.71
regularMarketDayLow : 183.6
regularMarketDayHigh : 187.6
beta : 1.147
trailingPE : 44.14033
forwardPE : 31.778006
volume : 22929058
regularMarketVolume : 22929058
averageVolume : 40237226
averageVolume10days : 41062140
averageDailyVolume10Day : 41062140
bid : 184.79
ask : 186.8
bidSize : 400
askSize : 100
marketCap : 1941140144128
fiftyTwoWeekLow : 118.35
fiftyTwoWeekHigh : 201.2
priceToSalesTrailing12Months : 3.212032
fiftyDayAverage : 179.1208
twoHundredDayAverage : 176.82085
currency : USD
enterpriseValue : 1978523320320
profitMargins : 0.0735
floatShares : 9360471323
sharesOutstanding : 10495599616
sharesShort : 83843599
sharesShortPriorMonth : 80798431
sharesShortPreviousMonthDate : 1723680000
dateShortInterest : 1726185600
sharesPercentSharesOut : 0.008
heldPercentInsiders : 0.08988
heldPercentInstitutions : 0.641
shortRatio : 2.49
shortPercentOfFloat : 0.0089
impliedSharesOutstanding : 10495599616
bookValue : 22.54
priceToBook : 8.205323
lastFiscalYearEnd : 1703980800
nextFiscalYearEnd : 1735603200
mostRecentQuarter : 1719705600
earningsQuarterlyGrowth : 0.998
netIncomeToCommon : 44418998272
trailingEps : 4.19
forwardEps : 5.82
pegRatio : 1.21
lastSplitFactor : 20:1
lastSplitDate : 1654473600
enterpriseToRevenue : 3.274
enterpriseToEbitda : 19.015
52WeekChange : 0.42200685
SandP52WeekChange : 0.32295227
exchange : NMS
quoteType : EQUITY
symbol : AMZN
underlyingSymbol : AMZN
shortName : Amazon.com, Inc.
longName : Amazon.com, Inc.
firstTradeDateEpochUtc : 863703000
timeZoneFullName : America/New_York
timeZoneShortName : EDT
uuid : 261fd26b-0151-3813-b0d0-97e4ed4c6505
messageBoardId : finmb_18749
gmtOffSetMilliseconds : -14400000
currentPrice : 184.948
targetHighPrice : 265.0
targetLowPrice : 180.0
targetMeanPrice : 219.26
targetMedianPrice : 220.0
recommendationMean : 1.8
recommendationKey : buy
numberOfAnalystOpinions : 58
totalCash : 89091997696
totalCashPerShare : 8.489
ebitda : 104049000448
totalDebt : 157841997824
quickRatio : 0.84
currentRatio : 1.096
totalRevenue : 604333998080
debtToEquity : 66.756
revenuePerShare : 58.221
returnOnAssets : 0.06584
returnOnEquity : 0.21933001
freeCashflow : 59191001088
operatingCashflow : 107951996928
earningsGrowth : 0.938
revenueGrowth : 0.101
grossMargins : 0.48043
ebitdaMargins : 0.17216998
operatingMargins : 0.09915
financialCurrency : USD
trailingPegRatio : 1.7286

 ## Precios historicos

In [29]:
Amazon.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1997-05-15 00:00:00-04:00,0.121875,0.125000,0.096354,0.097917,1443120000,0.0,0.0
1997-05-16 00:00:00-04:00,0.098438,0.098958,0.085417,0.086458,294000000,0.0,0.0
1997-05-19 00:00:00-04:00,0.088021,0.088542,0.081250,0.085417,122136000,0.0,0.0
1997-05-20 00:00:00-04:00,0.086458,0.087500,0.081771,0.081771,109344000,0.0,0.0
1997-05-21 00:00:00-04:00,0.081771,0.082292,0.068750,0.071354,377064000,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-30 00:00:00-04:00,187.139999,188.490005,184.649994,186.330002,41583900,0.0,0.0
2024-10-01 00:00:00-04:00,184.899994,186.190002,183.449997,185.130005,36044900,0.0,0.0
2024-10-02 00:00:00-04:00,184.440002,186.600006,184.039993,184.759995,23704100,0.0,0.0
2024-10-03 00:00:00-04:00,183.050003,183.440002,180.880005,181.960007,29709600,0.0,0.0
2024-10-04 00:00:00-04:00,185.710007,187.600006,183.600006,184.729996,23166104,0.0,0.0

### Definir nuestras propias fechas

In [33]:
start = dt.datetime(2012,5,31)
end = dt.datetime(2013,1,30)

Amazon.history(start=start, end=end)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-05-31 00:00:00-04:00,10.4740,10.6895,10.3555,10.6455,98880000,0.0,0.0
2012-06-01 00:00:00-04:00,10.4220,10.5615,10.3650,10.4110,79030000,0.0,0.0
2012-06-04 00:00:00-04:00,10.3700,10.7675,10.3185,10.7285,85992000,0.0,0.0
2012-06-05 00:00:00-04:00,10.6925,10.8430,10.5580,10.6605,70878000,0.0,0.0
2012-06-06 00:00:00-04:00,10.7315,10.9200,10.7260,10.8820,54202000,0.0,0.0
...,...,...,...,...,...,...,...
2013-01-23 00:00:00-05:00,13.5285,13.5545,13.3325,13.4055,50178000,0.0,0.0
2013-01-24 00:00:00-05:00,13.4685,13.8325,13.4685,13.6730,68340000,0.0,0.0
2013-01-25 00:00:00-05:00,13.7500,14.2360,13.7200,14.1995,99362000,0.0,0.0
2013-01-28 00:00:00-05:00,14.1890,14.2240,13.7200,13.8020,86428000,0.0,0.0
2013-01-29 00:00:00-05:00,13.7675,13.7730,12.9175,13.0175,203452000,0.0,0.0

### Observación

In [34]:
data = Amazon.history(interval="1d", start="2022-08-03", end="2023-02-10")
data.head(4)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-03 00:00:00-04:00,136.210007,140.490005,136.050003,139.520004,71827800,0.0,0.0
2022-08-04 00:00:00-04:00,140.580002,143.559998,139.550003,142.570007,70585000,0.0,0.0
2022-08-05 00:00:00-04:00,140.100006,142.860001,139.600006,140.800003,50686900,0.0,0.0
2022-08-08 00:00:00-04:00,142.050003,144.229996,138.289993,139.410004,52229000,0.0,0.0

### Descargar multiples tickers

In [36]:
data_2 = yf.download(["GOOGL", "META"], period="1mo")
data_2.head(4)

[*********************100%***********************]  2 of 2 completed

Price                       Adj Close                   Close              \
Ticker                          GOOGL        META       GOOGL        META
Date
2024-09-04 00:00:00+00:00  156.242676  512.251282  156.449997  512.739990
2024-09-05 00:00:00+00:00  157.031631  516.367371  157.240005  516.859985
2024-09-06 00:00:00+00:00  150.720001  499.793182  150.919998  500.269989
2024-09-09 00:00:00+00:00  148.710007  504.308899  148.710007  504.790009

Price                            High                     Low              \
Ticker                          GOOGL        META       GOOGL        META
Date
2024-09-04 00:00:00+00:00  159.000000  516.590027  155.960007  504.070007
2024-09-05 00:00:00+00:00  159.449997  521.630005  155.979996  511.149994
2024-09-06 00:00:00+00:00  157.830002  524.580017  150.550003  498.250000
2024-09-09 00:00:00+00:00  153.399994  511.329987  147.220001  502.079987

Price                            Open                Volume
Ticker                          GOOGL        META     GOOGL      META
Date
2024-09-04 00:00:00+00:00  156.660004  506.070007  19353800   8335200
2024-09-05 00:00:00+00:00  156.300003  511.720001  18688700   8640900
2024-09-06 00:00:00+00:00  157.300003  521.880005  37912100  14744500
2024-09-09 00:00:00+00:00  152.509995  506.160004  39260500  11047800

In [38]:
data_2["Close"]

Ticker                          GOOGL        META
Date
2024-09-04 00:00:00+00:00  156.449997  512.739990
2024-09-05 00:00:00+00:00  157.240005  516.859985
2024-09-06 00:00:00+00:00  150.919998  500.269989
2024-09-09 00:00:00+00:00  148.710007  504.790009
2024-09-10 00:00:00+00:00  148.660004  504.790009
2024-09-11 00:00:00+00:00  151.160004  511.829987
2024-09-12 00:00:00+00:00  154.690002  525.599976
2024-09-13 00:00:00+00:00  157.460007  524.619995
2024-09-16 00:00:00+00:00  158.059998  533.280029
2024-09-17 00:00:00+00:00  159.320007  536.320007
2024-09-18 00:00:00+00:00  159.809998  537.950012
2024-09-19 00:00:00+00:00  162.139999  559.099976
2024-09-20 00:00:00+00:00  163.589996  561.349976
2024-09-23 00:00:00+00:00  161.850006  564.409973
2024-09-24 00:00:00+00:00  162.289993  563.330017
2024-09-25 00:00:00+00:00  161.490005  568.309998
2024-09-26 00:00:00+00:00  162.729996  567.840027
2024-09-27 00:00:00+00:00  163.949997  567.359985
2024-09-30 00:00:00+00:00  165.850006  572.440002
2024-10-01 00:00:00+00:00  166.990005  576.469971
2024-10-02 00:00:00+00:00  165.860001  572.809998
2024-10-03 00:00:00+00:00  165.860001  582.770020
2024-10-04 00:00:00+00:00  166.029999  591.974976

### Descargar multiples tickers con inicio y final

In [41]:
data_3 =yf.download(["GOOGL", "META"], start="2021-12-10", end="2021-12-30", group_by="ticker")
data_3.head(4)

[*********************100%***********************]  2 of 2 completed

Ticker                           META                                      \
Price                            Open        High         Low       Close
Date
2021-12-10 00:00:00+00:00  332.559998  335.029999  326.369995  329.750000
2021-12-13 00:00:00+00:00  330.950012  341.089996  329.589996  334.489990
2021-12-14 00:00:00+00:00  328.049988  335.700012  327.649994  333.739990
2021-12-15 00:00:00+00:00  332.489990  342.109985  323.980011  341.660004

Ticker                                                GOOGL              \
Price                       Adj Close    Volume        Open        High
Date
2021-12-10 00:00:00+00:00  328.760162  14528000  148.699997  148.977493
2021-12-13 00:00:00+00:00  333.485931  22948700  147.781494  147.970001
2021-12-14 00:00:00+00:00  332.738159  20461000  143.968002  144.479996
2021-12-15 00:00:00+00:00  340.634399  24681300  143.408997  146.720993

Ticker
Price                             Low       Close   Adj Close    Volume
Date
2021-12-10 00:00:00+00:00  146.703995  148.001495  147.635925  24458000
2021-12-13 00:00:00+00:00  145.517502  145.826508  145.466309  27070000
2021-12-14 00:00:00+00:00  141.214996  143.906998  143.551529  38446000
2021-12-15 00:00:00+00:00  141.677994  146.440994  146.079285  36370000

In [43]:
data_3["GOOGL"]

Price,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-12-10 00:00:00+00:00,148.699997,148.977493,146.703995,148.001495,147.635925,24458000
2021-12-13 00:00:00+00:00,147.781494,147.970001,145.517502,145.826508,145.466309,27070000
2021-12-14 00:00:00+00:00,143.968002,144.479996,141.214996,143.906998,143.551529,38446000
2021-12-15 00:00:00+00:00,143.408997,146.720993,141.677994,146.440994,146.079285,36370000
2021-12-16 00:00:00+00:00,147.170502,147.677002,143.606995,144.445007,144.088226,33650000
2021-12-17 00:00:00+00:00,142.500000,143.834503,141.300003,141.725006,141.374939,50416000
2021-12-20 00:00:00+00:00,140.000000,141.774506,139.320999,141.606995,141.257217,27192000
2021-12-21 00:00:00+00:00,142.053497,143.869003,140.502502,143.472504,143.118118,28756000
2021-12-22 00:00:00+00:00,143.067505,146.500000,143.067505,146.414993,146.053345,26322000
2021-12-23 00:00:00+00:00,146.500000,148.243500,146.451996,146.916504,146.553604,26384000
2021-12-27 00:00:00+00:00,147.255997,148.343994,147.169495,147.906494,147.541153,15976000
2021-12-28 00:00:00+00:00,148.235992,148.298996,146.054504,146.686996,146.324677,18200000
2021-12-29 00:00:00+00:00,146.644501,147.417007,145.647507,146.654999,146.292755,17788000

In [45]:
data_3["GOOGL"][["Adj Close"]]

Price                       Adj Close
Date
2021-12-10 00:00:00+00:00  147.635925
2021-12-13 00:00:00+00:00  145.466309
2021-12-14 00:00:00+00:00  143.551529
2021-12-15 00:00:00+00:00  146.079285
2021-12-16 00:00:00+00:00  144.088226
2021-12-17 00:00:00+00:00  141.374939
2021-12-20 00:00:00+00:00  141.257217
2021-12-21 00:00:00+00:00  143.118118
2021-12-22 00:00:00+00:00  146.053345
2021-12-23 00:00:00+00:00  146.553604
2021-12-27 00:00:00+00:00  147.541153
2021-12-28 00:00:00+00:00  146.324677
2021-12-29 00:00:00+00:00  146.292755