In [1]:
import yfinance as yf
import datetime as dt

In [2]:
data_4 = yf.download(["AMZN"], start="2000-10-02", end="2023-10-02")
data_4.head(4)

[*********************100%***********************]  1 of 1 completed

                Open      High     Low     Close  Adj Close     Volume
Date
2000-10-02  1.909375  1.921875  1.7625  1.793750   1.793750  109554000
2000-10-03  1.837500  1.862500  1.7500  1.753125   1.753125  107598000
2000-10-04  1.671875  1.853125  1.6250  1.800000   1.800000  156822000
2000-10-05  1.759375  1.831250  1.6000  1.678125   1.678125  139326000

### Estadistica

Si queremos conservar el formato debemos de agregar doble [[]]

In [3]:
dfclose = data_4[["Close"]]

### Descriptivas

In [4]:
dfclose.mean().round(2)

Close    37.95
dtype: float64

In [9]:
dfclose.median().round(2)

Close    10.89
dtype: float64

In [10]:
dfclose.mean()==dfclose.median()

Close    False
dtype: bool

La raiz cuadrada de la varianza es la desviacion estandar

In [11]:
dfclose.var().round(2)

Close    2616.82
dtype: float64

In [12]:
dfclose.std().round(2)

Close    51.15
dtype: float64

### Seleccionar una fila

In [14]:
dfclose.iloc[3]

Close    1.678125
Name: 2000-10-05 00:00:00, dtype: float64

### Seleccionar filas por index

In [19]:
dfclose.loc["2010-10-04":"2010-10-06"]

             Close
Date
2010-10-04  7.7695
2010-10-05  8.0435
2010-10-06  7.7700

### Buscar una fila
"2000-10-04" in dfclose.index, "2000-10-01" in dfclose.index"

In [20]:
"2000-10-04" in dfclose.index, "2000-10-01" in dfclose.index

(True, False)

### reportar datos

In [21]:
dfclose.agg(["mean", "median", "var", "std"]).round(2)

          Close
mean      37.95
median    10.89
var     2616.82
std       51.15

In [22]:
dfclose.describe().round(2)

         Close
count  5785.00
mean     37.95
std      51.15
min       0.30
25%       2.28
50%      10.89
75%      59.68
max     186.57