## Rentabilidad sobre otros horizontes

Con nuestra función ' anual_ret' o las fórmulas podemos calcular los retornos 'promedio' sobre cualquier horizonte.
Pero si no queremos los retornos promedios, y si queremos los valores del retorno acumulado en cada mes o en cada año?

**El objetivo**

De este cuaderno  es conocer otra forma de calcular la rentabilidad por un horizonte de tiempo pero no promedio, sino periodo por periodo

In [1]:
# leer el archivo NFLX.csv
import yfinance as  yf
import pandas as pd
import datetime
import kit
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/Lenovo/Programacion/Python/BBDD/NFLX.csv', index_col=0)
df_adf = df[["Adj Close"]]
df_adf

             Adj Close
Date
2020-10-05  520.650024
2020-10-06  505.869995
2020-10-07  534.659973
2020-10-08  531.789978
2020-10-09  539.440002
...                ...
2021-09-27  592.640015
2021-09-28  583.849976
2021-09-29  599.059998
2021-09-30  610.340027
2021-10-01  613.150024

[251 rows x 1 columns]

In [6]:
r = df_adf.pct_change().dropna()
r

            Adj Close
Date
2020-10-06  -0.028388
2020-10-07   0.056912
2020-10-08  -0.005368
2020-10-09   0.014385
2020-10-12   0.000686
...               ...
2021-09-27   0.000422
2021-09-28  -0.014832
2021-09-29   0.026051
2021-09-30   0.018830
2021-10-01   0.004604

[250 rows x 1 columns]

In [4]:
## retorno diario
kit.rpm(df_adf)

El retorno promedio diario es: Adj Close    0.000654
dtype: float64

In [5]:
# retorno mensual
kit.ret_d(df_adf,22)

El retorno anualizado es: Adj Close    0.014495
dtype: float64

In [6]:
# retorno anual
kit.ret_d(df_adf,252)

El retorno anualizado es: Adj Close    0.179204
dtype: float64

### Calcular las rentabilidades periodo por periodo

Debemos tener los retornos en un DataFrame y el index debe ser declarado como fecha

In [10]:
r.index = pd.to_datetime(r.index, format="%Y-%m-%d")
r.index

DatetimeIndex(['2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
               '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15',
               '2020-10-16', '2020-10-19',
               ...
               '2021-09-20', '2021-09-21', '2021-09-22', '2021-09-23',
               '2021-09-24', '2021-09-27', '2021-09-28', '2021-09-29',
               '2021-09-30', '2021-10-01'],
              dtype='datetime64[ns]', name='Date', length=250, freq=None)

In [11]:
(r.index).dtype

dtype('<M8[ns]')

#### Rentabilidad  para cada mes de la ventana de tiempo


La función `resample` en Pandas se utiliza para reasignar la frecuencia temporal de los 
datos en series temporales. Es decir, te permite agrupar o modificar la frecuencia 
de tus datos temporales en intervalos diferentes a los originales. 
Por ejemplo, si tienes datos diarios, puedes reagruparlos en datos mensuales o 
trimestrales, o si tienes datos por minutos, puedes reducirlos a datos por horas

In [12]:
# vamos acumular los retornos en cada mes, obteniendo los retornos acumulados para cada mes
ret_mes = r.resample('M').apply(lambda x: (1 + x).prod() - 1)

print(ret_mes)

            Adj Close
Date
2020-10-31  -0.086258
2020-11-30   0.031446
2020-12-31   0.101956
2021-01-31  -0.015424
2021-02-28   0.012134
2021-03-31  -0.031901
2021-04-30  -0.015700
2021-05-31  -0.020761
2021-06-30   0.050516
2021-07-31  -0.020144
2021-08-31   0.099735
2021-09-30   0.072296
2021-10-31   0.004604

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_31648\3572150291.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  ret_mes = r.resample('M').apply(lambda x: (1 + x).prod() - 1)

#### Rentabilidad  para cada año de la ventana de tiempo

In [13]:
# vamos acumular los retornos en cada año, obteniendo los retornos acumulados por año

ret_year = r.resample("Y").apply(lambda x :( 1 + x).prod()-1)
ret_year

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_31648\3573951134.py:3: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  ret_year = r.resample("Y").apply(lambda x :( 1 + x).prod()-1)

            Adj Close
Date
2020-12-31   0.038567
2021-12-31   0.133930

#### Rentabilidad  para cada trimestre de la ventana de tiempo

In [15]:
# vamos acumular los retornos trimestrales, obteniendo los retornos acumulados por trimestre
ret_mes = r.resample("Q").apply(lambda x: (1 + x).prod() - 1)
ret_mes

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_31648\718809530.py:2: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  ret_mes = r.resample("Q").apply(lambda x: (1 + x).prod() - 1)

            Adj Close
Date
2020-12-31   0.038567
2021-03-31  -0.035267
2021-06-30   0.012556
2021-09-30   0.155487
2021-12-31   0.004604