In [3]:
texto = """
Acciona - ANA.MC
Acerinox - ACX.MC
Actividades de Construcci칩n y Servicios, S.A - ACS.MC
Aena - AENA.MC
Amadeus - AMS.MC
ArcelorMittal - MTS.MC
Banco Sabadell - SAB.MC
Banco Santander - SAN.MC
Bankinter - BKT.MC
BBVA - BBVA.MC
CaixaBank - CABK.MC
Cellnex - CLNX.MC
Endesa - ELE.MC
Enag치s - ENG.MC
Ferrovial - FER.MC
Fluidra - FDR.MC
Grifols - GRF.MC
IAG (International Airlines Group) - IAG.MC
Iberdrola - IBE.MC
Inditex - ITX.MC
Inmobiliaria Colonial - COL.MC
Logista - LOG.MC
Mapfre - MAP.MC
Meli치 Hotels - MEL.MC
Merlin Properties - MRL.MC
Naturgy - NTGY.MC
PharmaMar - PHM.MC
Rovi - ROVI.MC
Repsol - REP.MC
Sacyr - SCYR.MC
Telef칩nica - TEF.MC
Unicaja Banco - UNI.MC
Viscofan - VIS.MC
"""

In [4]:
symbol="""
ANA.MC
ACX.MC
ACS.MC
AENA.MC
AMS.MC
MTS.MC
SAB.MC
SAN.MC
BKT.MC
BBVA.MC
CABK.MC
CLNX.MC
ELE.MC
ENG.MC
FER.MC
FDR.MC
GRF.MC
IAG.MC
IBE.MC
ITX.MC
COL.MC
LOG.MC
MAP.MC
MEL.MC
MRL.MC
NTGY.MC
PHM.MC
ROVI.MC
REP.MC
SCYR.MC
TEF.MC
UNI.MC
VIS.MC
"""

In [5]:
lista = symbol.splitlines() # toma cada linea como un elemento de la lista

lista_nueva=[]

for item in lista:# vamos a dejar en la lista solo las lineas no vacias
    if item:# veraddero o falso. Considera los vacios o nan's falso
        lista_nueva.append(item)
    
lista_nueva

['ANA.MC',
 'ACX.MC',
 'ACS.MC',
 'AENA.MC',
 'AMS.MC',
 'MTS.MC',
 'SAB.MC',
 'SAN.MC',
 'BKT.MC',
 'BBVA.MC',
 'CABK.MC',
 'CLNX.MC',
 'ELE.MC',
 'ENG.MC',
 'FER.MC',
 'FDR.MC',
 'GRF.MC',
 'IAG.MC',
 'IBE.MC',
 'ITX.MC',
 'COL.MC',
 'LOG.MC',
 'MAP.MC',
 'MEL.MC',
 'MRL.MC',
 'NTGY.MC',
 'PHM.MC',
 'ROVI.MC',
 'REP.MC',
 'SCYR.MC',
 'TEF.MC',
 'UNI.MC',
 'VIS.MC']

In [6]:
import pandas as pd  
import datetime  
import yfinance as yf

stocksln = yf.download(lista_nueva , '2017-10-01','2024-10-02')
stocks_adln= stocksln['Adj Close']
stocks_adln.

[*********************100%***********************]  33 of 33 completed

Ticker,ACS.MC,ACX.MC,AENA.MC,AMS.MC,ANA.MC,BBVA.MC,BKT.MC,CABK.MC,CLNX.MC,COL.MC,...,NTGY.MC,PHM.MC,REP.MC,ROVI.MC,SAB.MC,SAN.MC,SCYR.MC,TEF.MC,UNI.MC,VIS.MC
Date,,,,,,,,,,,,,,,,,,,,,
2017-10-02 00:00:00+00:00,19.887535,8.185724,124.084816,51.139977,53.695648,4.977023,3.918319,2.880248,14.470339,6.653817,...,12.358001,36.083733,10.033268,14.465507,1.225819,4.423019,1.557106,5.473709,1.043173,41.307461
2017-10-03 00:00:00+00:00,19.550833,8.226247,123.757637,51.325768,53.520615,5.021522,3.931180,2.926452,14.260186,6.651412,...,12.268087,36.253941,10.036507,14.134234,1.226547,4.432913,1.545008,5.445890,1.053172,41.480793
2017-10-04 00:00:00+00:00,18.880571,8.108055,120.853867,50.080940,52.382896,4.840159,3.793676,2.781444,14.136349,6.285051,...,11.981698,34.438400,9.787291,13.526904,1.156749,4.263206,1.412640,5.298932,1.020676,40.464455
2017-10-05 00:00:00+00:00,19.550833,8.151955,123.880333,51.139977,54.324192,4.974326,3.874793,2.918632,14.357758,6.301084,...,12.258099,35.573112,9.916753,14.125032,1.228001,4.388012,1.446088,5.454962,1.069836,41.102615
2017-10-06 00:00:00+00:00,19.261330,8.101302,123.921227,52.087521,53.305805,4.995485,3.876770,2.901573,14.215157,6.212901,...,12.191495,35.175968,9.887625,14.226254,1.204735,4.394102,1.451781,5.443471,1.066503,40.551121

In [7]:
from statsmodels.tsa.stattools import adfuller

In [11]:
stocks_df2=stocks_adln.pct_change().dropna()  
stocks_df2.head()

Ticker,ACS.MC,ACX.MC,AENA.MC,AMS.MC,ANA.MC,BBVA.MC,BKT.MC,CABK.MC,CLNX.MC,COL.MC,...,NTGY.MC,PHM.MC,REP.MC,ROVI.MC,SAB.MC,SAN.MC,SCYR.MC,TEF.MC,UNI.MC,VIS.MC
Date,,,,,,,,,,,,,,,,,,,,,
2017-10-03 00:00:00+00:00,-0.016930,0.004950,-0.002637,0.003633,-0.003260,0.008941,0.003282,0.016041,-0.014523,-0.000361,...,-0.007276,0.004717,0.000323,-0.022901,0.000594,0.002237,-0.007770,-0.005082,0.009585,0.004196
2017-10-04 00:00:00+00:00,-0.034283,-0.014368,-0.023463,-0.024253,-0.021258,-0.036117,-0.034978,-0.049551,-0.008684,-0.055080,...,-0.023344,-0.050078,-0.024831,-0.042969,-0.056906,-0.038283,-0.085675,-0.026985,-0.030855,-0.024501
2017-10-05 00:00:00+00:00,0.035500,0.005414,0.025042,0.021146,0.037060,0.027719,0.021382,0.049323,0.015662,0.002551,...,0.023069,0.032949,0.013228,0.044218,0.061597,0.029275,0.023678,0.029445,0.048163,0.015771
2017-10-06 00:00:00+00:00,-0.014808,-0.006214,0.000330,0.018528,-0.018746,0.004254,0.000510,-0.005845,-0.009932,-0.013995,...,-0.005433,-0.011164,-0.002937,0.007166,-0.018946,0.001388,0.003937,-0.002106,-0.003115,-0.013418
2017-10-09 00:00:00+00:00,0.005718,-0.001667,-0.003630,-0.001248,0.012985,-0.011340,0.007782,0.013964,0.011087,0.026065,...,0.011199,0.025806,0.000000,0.000000,0.009053,0.000866,-0.014706,0.009554,0.007812,0.005829

In [29]:
result = adfuller(stocks_df2["ACS.MC"])
#print('Estad칤stico ADF:', result[0])
print('Valor p:', result[1])

Valor p: 3.631824443634217e-24

In [27]:
for col in stocks_df2.columns:
    if stocks_df2[col].dtype == 'object':  # Handle non-numeric columns
        stocks_df2[col] = pd.to_numeric(stocks_df2[col], errors='coerce')

    result = ts.adfuller(stocks_df2[col])
    print(f"ADF Test for {col}:")
    print(f"  p-value: {result[1]}")

NameError: name 'ts' is not defined

In [16]:
symbol = ['ANA.MC', 'ACX.MC', 'ACS.MC', 'AENA.MC', 'AMS.MC', 'MTS.MC', 'SAB.MC',
 'SAN.MC', 'BKT.MC', 'BBVA.MC', 'CABK.MC', 'CLNX.MC', 'ELE.MC', 'ENG.MC', 'FER.MC', 'FDR.MC', 'GRF.MC', 'IAG.MC',
 'IBE.MC', 'ITX.MC', 'COL.MC', 'LOG.MC', 'MAP.MC', 'MEL.MC', 'MRL.MC', 'NTGY.MC', 'PHM.MC', 'ROVI.MC', 'REP.MC', 'SCYR.MC',
 'TEF.MC', 'UNI.MC', 'VIS.MC']

for i in symbol:
    Q1 = stocks_df2[i].quantile(0.25)
    Q3 = stocks_df2[i].quantile(0.75)
    
    # Calcular el IQR (Rango Intercuartil)
    IQR = Q3 - Q1

    # Definir los l칤mites superior e inferior para identificar outliers
    limite_superior = Q3 + 1.5 * IQR
    limite_inferior = Q1 - 1.5 * IQR

    # Filtrar los outliers
    datos_filtrados = stocks_df2[i][(stocks_df2[i]>= limite_inferior) & (stocks_df2[i] <= limite_superior)]
    datos_max = stocks_df2[i][ (stocks_df2[i] >= limite_superior)]
    datos_min = stocks_df2[i][(stocks_df2[i]<= limite_inferior)]
    
    
    print(f'Reporte para {i}: con registros iniciales {stocks_df2[i].shape} con {datos_max.shape} outliers superiores y {datos_min.shape} outliers inferiores')

Reporte para ANA.MC: con registros iniciales (1790,) con (29,) outliers superiores y (36,) outliers inferiores
Reporte para ACX.MC: con registros iniciales (1790,) con (32,) outliers superiores y (29,) outliers inferiores
Reporte para ACS.MC: con registros iniciales (1790,) con (50,) outliers superiores y (56,) outliers inferiores
Reporte para AENA.MC: con registros iniciales (1790,) con (42,) outliers superiores y (53,) outliers inferiores
Reporte para AMS.MC: con registros iniciales (1790,) con (46,) outliers superiores y (64,) outliers inferiores
Reporte para MTS.MC: con registros iniciales (1790,) con (33,) outliers superiores y (39,) outliers inferiores
Reporte para SAB.MC: con registros iniciales (1790,) con (51,) outliers superiores y (53,) outliers inferiores
Reporte para SAN.MC: con registros iniciales (1790,) con (34,) outliers superiores y (37,) outliers inferiores
Reporte para BKT.MC: con registros iniciales (1790,) con (47,) outliers superiores y (57,) outliers inferiores
Reporte para BBVA.MC: con registros iniciales (1790,) con (43,) outliers superiores y (53,) outliers inferiores
Reporte para CABK.MC: con registros iniciales (1790,) con (40,) outliers superiores y (33,) outliers inferiores
Reporte para CLNX.MC: con registros iniciales (1790,) con (35,) outliers superiores y (24,) outliers inferiores
Reporte para ELE.MC: con registros iniciales (1790,) con (30,) outliers superiores y (24,) outliers inferiores
Reporte para ENG.MC: con registros iniciales (1790,) con (21,) outliers superiores y (33,) outliers inferiores
Reporte para FER.MC: con registros iniciales (1790,) con (36,) outliers superiores y (42,) outliers inferiores
Reporte para FDR.MC: con registros iniciales (1790,) con (34,) outliers superiores y (43,) outliers inferiores
Reporte para GRF.MC: con registros iniciales (1790,) con (47,) outliers superiores y (46,) outliers inferiores
Reporte para IAG.MC: con registros iniciales (1790,) con (66,) outliers superiores y (53,) outliers inferiores
Reporte para IBE.MC: con registros iniciales (1790,) con (40,) outliers superiores y (37,) outliers inferiores
Reporte para ITX.MC: con registros iniciales (1790,) con (42,) outliers superiores y (40,) outliers inferiores
Reporte para COL.MC: con registros iniciales (1790,) con (38,) outliers superiores y (41,) outliers inferiores
Reporte para LOG.MC: con registros iniciales (1790,) con (31,) outliers superiores y (44,) outliers inferiores
Reporte para MAP.MC: con registros iniciales (1790,) con (33,) outliers superiores y (45,) outliers inferiores
Reporte para MEL.MC: con registros iniciales (1790,) con (40,) outliers superiores y (46,) outliers inferiores
Reporte para MRL.MC: con registros iniciales (1790,) con (52,) outliers superiores y (52,) outliers inferiores
Reporte para NTGY.MC: con registros iniciales (1790,) con (41,) outliers superiores y (61,) outliers inferiores
Reporte para PHM.MC: con registros iniciales (1790,) con (62,) outliers superiores y (45,) outliers inferiores
Reporte para ROVI.MC: con registros iniciales (1790,) con (30,) outliers superiores y (34,) outliers inferiores
Reporte para REP.MC: con registros iniciales (1790,) con (40,) outliers superiores y (40,) outliers inferiores
Reporte para SCYR.MC: con registros iniciales (1790,) con (43,) outliers superiores y (43,) outliers inferiores
Reporte para TEF.MC: con registros iniciales (1790,) con (31,) outliers superiores y (41,) outliers inferiores
Reporte para UNI.MC: con registros iniciales (1790,) con (37,) outliers superiores y (47,) outliers inferiores
Reporte para VIS.MC: con registros iniciales (1790,) con (40,) outliers superiores y (41,) outliers inferiores