In [1]:
import pandas as pd

In [28]:
df  = pd.read_excel('C:/Users/Lenovo/Programacion/Python/BBDD/Ejercicio.xlsx', index_col="Date")
df

                 Open
Date
2024-02-27  70.275002
2024-02-28  64.315002
2024-03-02  70.570000
2024-03-03  75.917503
2024-03-04  74.110010
2024-03-05  73.879997
2024-03-06  70.500000

In [50]:
retorno = df.pct_change() # Retorno simple o por dia
retorno_2 =retorno.dropna()
retorno_2.drop('2024-02-28', axis=0, inplace=True)
retorno_2

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_35404\4254546097.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retorno_2.drop('2024-02-28', axis=0, inplace=True)

                Open
Date
2024-03-02  0.097256
2024-03-03  0.075776
2024-03-04 -0.023809
2024-03-05 -0.003104
2024-03-06 -0.045750

In [51]:
# Retorno acumulado es:

retorno_acumulado = (1 + retorno_2).product() - 1   
retorno_acumulado

Open    0.096167
dtype: float64