In [1]:
import pandas as pd

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10224\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Series and DataFrame

Pandas is similar like Numpy, hre we can have array, vector and matrix, but here it has other nanme, In pandas this is named "Series", we also can to do "sliccing", Math operations, like in Numpy.

Now, the DataFrame is like Matrix in Numpy, but with the difference that in Pandas the matrix or DataFrame has indexes.

Array = Series 1 dimension

Matrix = DataFrame 2 or more dimension (dicctionary)

Note: In the series in pandas we don't need to indicate the index of each element, because pandas identify every element.

In [10]:
Family = pd.Series(["Alejandro", "Jonnathan",'Kamila','Brenda' ])
Family

0    Alejandro
1    Jonnathan
2       Kamila
3       Brenda
dtype: object

In [9]:
Family = pd.Series(["Alejandro", "Jonnathan",'Kamila','Brenda' ], index= [1,2,3,4])
Family

1    Alejandro
2    Jonnathan
3       Kamila
4       Brenda
dtype: object

In [11]:
Family[3]

'Brenda'

In [12]:
dict = {"Nombre": ["Alejandro", "Jonnathan",'Kamila','Brenda' ],
        "Ages": [30,34,33,30],
        "City": ["Cartagena", "Barcelona", "Barcelona", "Cartagena"]}
dict

{'Nombre': ['Alejandro', 'Jonnathan', 'Kamila', 'Brenda'],
 'Ages': [30, 34, 33, 30],
 'City': ['Cartagena', 'Barcelona', 'Barcelona', 'Cartagena']}

In [16]:
general = pd.DataFrame(dict, index=[1,2,3,4])
general

      Nombre  Ages       City
1  Alejandro    30  Cartagena
2  Jonnathan    34  Barcelona
3     Kamila    33  Barcelona
4     Brenda    30  Cartagena

In [17]:
general.columns

Index(['Nombre', 'Ages', 'City'], dtype='object')

In [18]:
general.index

Index([1, 2, 3, 4], dtype='int64')