In [ ]:
import pandas as pd
import numpy as np

In [3]:
car = pd.read_csv("C:/Users/Lenovo/Programacion/Base de datos/CarPricesPrediction.csv")
car.head(3)

   Unnamed: 0       Make      Model  Year  Mileage  Condition     Price
0           0       Ford  Silverado  2022    18107  Excellent  19094.75
1           1     Toyota  Silverado  2014    13578  Excellent  27321.10
2           2  Chevrolet      Civic  2016    46054       Good  23697.30

In [4]:
car.columns

Index(['Unnamed: 0', 'Make', 'Model', 'Year', 'Mileage', 'Condition', 'Price'], dtype='object')

In [5]:
car.drop('Unnamed: 0', axis =1, inplace=True)
car.head(5)

        Make      Model  Year  Mileage  Condition     Price
0       Ford  Silverado  2022    18107  Excellent  19094.75
1     Toyota  Silverado  2014    13578  Excellent  27321.10
2  Chevrolet      Civic  2016    46054       Good  23697.30
3       Ford      Civic  2022    34981  Excellent  18251.05
4  Chevrolet      Civic  2019    63565  Excellent  19821.85

As in Numpy, we can filter in pandas  with the same parammeters ex:

In [6]:
model2020 = car['Year'] == 2020
model2020

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Year, Length: 1000, dtype: bool

As in Numpy, it retuns a Trur and False values

In [7]:
car[model2020]

          Make      Model  Year  Mileage  Condition     Price
17      Nissan     Altima  2020    33054       Good  20347.40
23      Nissan     Altima  2020   100665       Good  16966.65
36   Chevrolet      F-150  2020    43785  Excellent  19810.75
40      Toyota      Civic  2020   131994  Excellent  15400.40
61      Toyota  Silverado  2020    54542  Excellent  19272.90
..         ...        ...   ...      ...        ...       ...
897      Honda      Camry  2020    75326  Excellent  18233.70
918  Chevrolet      Civic  2020    95720  Excellent  17214.10
921      Honda  Silverado  2020    31688  Excellent  20415.70
953      Honda     Altima  2020   135632  Excellent  15218.50
969  Chevrolet     Altima  2020   122285       Good  15885.75

[73 rows x 6 columns]

In [8]:
car[car['Year'] == 2020]

          Make      Model  Year  Mileage  Condition     Price
17      Nissan     Altima  2020    33054       Good  20347.40
23      Nissan     Altima  2020   100665       Good  16966.65
36   Chevrolet      F-150  2020    43785  Excellent  19810.75
40      Toyota      Civic  2020   131994  Excellent  15400.40
61      Toyota  Silverado  2020    54542  Excellent  19272.90
..         ...        ...   ...      ...        ...       ...
897      Honda      Camry  2020    75326  Excellent  18233.70
918  Chevrolet      Civic  2020    95720  Excellent  17214.10
921      Honda  Silverado  2020    31688  Excellent  20415.70
953      Honda     Altima  2020   135632  Excellent  15218.50
969  Chevrolet     Altima  2020   122285       Good  15885.75

[73 rows x 6 columns]

Two Conditions

In [9]:
toyota = car['Make'] == "Toyota"

In [10]:
car[toyota & model2020]

       Make      Model  Year  Mileage  Condition     Price
40   Toyota      Civic  2020   131994  Excellent  15400.40
61   Toyota  Silverado  2020    54542  Excellent  19272.90
186  Toyota      F-150  2020    44070  Excellent  19796.60
345  Toyota      Civic  2020    94847       Good  17257.75
367  Toyota     Altima  2020    37051  Excellent  20147.45
384  Toyota     Altima  2020   121125  Excellent  15943.75
413  Toyota      F-150  2020    99917       Fair  17004.15
489  Toyota     Altima  2020    65285       Good  18735.85
621  Toyota      Camry  2020   107058  Excellent  16647.00
705  Toyota      Camry  2020   136729  Excellent  15163.45
742  Toyota  Silverado  2020   134241  Excellent  15287.95
746  Toyota      Civic  2020    19145  Excellent  21042.65
751  Toyota      Camry  2020    64221       Good  18789.05
754  Toyota      F-150  2020    61104  Excellent  18944.80
757  Toyota     Altima  2020   101801  Excellent  16910.05
784  Toyota     Altima  2020    86137       Fair  17693.25
796  Toyota     Altima  2020    42621       Good  19868.85
886  Toyota     Altima  2020    46725  Excellent  19663.85

In [12]:
## filtrado por modelo
civic = car["Model"] == "Civic"

##filtrado por Marca
honda = car["Make"] == "Honda"

## Doble filtrado en el archivo principal
hondacivic = car[honda & civic]

## Ordenar por ano ascendente
hondacivic.sort_values(["Year"], ascending=True, inplace=True)
hondacivic

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_29720\3833231772.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hondacivic.sort_values(["Year"], ascending=True, inplace=True)

      Make  Model  Year  Mileage  Condition     Price
824  Honda  Civic  2010    47611  Excellent  29619.55
182  Honda  Civic  2010    29471  Excellent  30526.55
791  Honda  Civic  2010   147306       Good  24634.70
851  Honda  Civic  2011   112032  Excellent  25398.30
752  Honda  Civic  2011    77760       Good  27111.90
276  Honda  Civic  2011   117131       Good  25143.45
351  Honda  Civic  2011    51775  Excellent  28411.35
63   Honda  Civic  2012    99506  Excellent  25024.70
807  Honda  Civic  2012    48331  Excellent  27583.55
860  Honda  Civic  2014    10120  Excellent  27494.10
787  Honda  Civic  2014    34734       Fair  26263.30
346  Honda  Civic  2014   131078       Fair  21446.20
641  Honda  Civic  2014    17168       Good  27141.60
341  Honda  Civic  2015   146704  Excellent  19664.90
777  Honda  Civic  2015   122879  Excellent  20856.15
280  Honda  Civic  2015   143862  Excellent  19806.90
297  Honda  Civic  2016   118154       Good  20092.30
80   Honda  Civic  2016    27511  Excellent  24624.45
933  Honda  Civic  2016    38708  Excellent  24064.70
795  Honda  Civic  2017    94183  Excellent  20290.85
625  Honda  Civic  2017    96018  Excellent  20199.20
979  Honda  Civic  2018   103726       Good  18813.80
589  Honda  Civic  2018    27846  Excellent  22607.60
556  Honda  Civic  2018   136822  Excellent  17159.00
548  Honda  Civic  2018    78256  Excellent  20087.30
869  Honda  Civic  2018    55849  Excellent  21207.65
840  Honda  Civic  2019    30687       Fair  21465.75
177  Honda  Civic  2019    49430  Excellent  20528.50
870  Honda  Civic  2019   115299  Excellent  17235.05
542  Honda  Civic  2020    28846       Fair  20557.80
823  Honda  Civic  2021   136606       Good  14169.60
732  Honda  Civic  2021    84577  Excellent  16771.05
28   Honda  Civic  2022    34080  Excellent  18296.00
558  Honda  Civic  2022   110420       Good  14479.10
49   Honda  Civic  2022    17332  Excellent  19133.50
582  Honda  Civic  2022   142482  Excellent  12875.90
593  Honda  Civic  2022    98546       Good  15072.70