<figure>
<img src="../Imagenes/Logo.png" width="1000" height="800" align="center"/>
</figure>

Luz Mary Pinzón S. luzmary.pinzon@upf.edu

# Estadística Básica

In [2]:
import pandas as pd
NFLX=pd.read_csv("NFLX.csv",
                 index_col=0)

In [2]:
NFLX.head(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-05,506.799988,520.989990,501.700012,520.650024,520.650024,4088100
2020-10-06,518.719971,521.820007,504.160004,505.869995,505.869995,4199000
2020-10-07,518.000000,536.489990,515.820007,534.659973,534.659973,7988700
2020-10-08,533.479980,535.000000,524.150024,531.789978,531.789978,5386500
2020-10-09,537.830017,544.280029,535.000000,539.440002,539.440002,4781300

In [3]:
### tamaño del archivo
NFLX.shape

(251, 6)

## Trabajemos con las columnas (Variables)

In [6]:
 # nombres de las columnas
NFLX.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [5]:
 # valores del index
NFLX.index

Index(['2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
       '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16',
       ...
       '2021-09-20', '2021-09-21', '2021-09-22', '2021-09-23', '2021-09-24',
       '2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01'],
      dtype='object', name='Date', length=251)

In [4]:
 # Conocer si las variablee 'Open'y 'Diff' son  columnas del DataFrame
'Open' in NFLX.columns, 'Diff' in NFLX.columns

(True, False)

In [6]:
 # imprime la columna Open
NFLX[["Open"]]

                  Open
Date
2020-10-05  506.799988
2020-10-06  518.719971
2020-10-07  518.000000
2020-10-08  533.479980
2020-10-09  537.830017
...                ...
2021-09-27  587.950012
2021-09-28  589.000000
2021-09-29  589.010010
2021-09-30  608.049988
2021-10-01  604.239990

[251 rows x 1 columns]

In [9]:
 # Selecciona la columna Open en el DataFrame
NFLX[["Open"]]

                  Open
Date
2020-10-05  506.799988
2020-10-06  518.719971
2020-10-07  518.000000
2020-10-08  533.479980
2020-10-09  537.830017
...                ...
2021-09-27  587.950012
2021-09-28  589.000000
2021-09-29  589.010010
2021-09-30  608.049988
2021-10-01  604.239990

[251 rows x 1 columns]

In [7]:
 # Selecciona las columnas Open y Close en el DataFrame
NFLX[["Open","Close"]]  # imprime las columnas seleccionadas

                  Open       Close
Date
2020-10-05  506.799988  520.650024
2020-10-06  518.719971  505.869995
2020-10-07  518.000000  534.659973
2020-10-08  533.479980  531.789978
2020-10-09  537.830017  539.440002
...                ...         ...
2021-09-27  587.950012  592.640015
2021-09-28  589.000000  583.849976
2021-09-29  589.010010  599.059998
2021-09-30  608.049988  610.340027
2021-10-01  604.239990  613.150024

[251 rows x 2 columns]

In [11]:
 # Selecciona las columnas Open,Close y Adj Close
col=["Open","Close","Adj Close"]
NFLX[col]

                  Open       Close   Adj Close
Date
2020-10-05  506.799988  520.650024  520.650024
2020-10-06  518.719971  505.869995  505.869995
2020-10-07  518.000000  534.659973  534.659973
2020-10-08  533.479980  531.789978  531.789978
2020-10-09  537.830017  539.440002  539.440002
...                ...         ...         ...
2021-09-27  587.950012  592.640015  592.640015
2021-09-28  589.000000  583.849976  583.849976
2021-09-29  589.010010  599.059998  599.059998
2021-09-30  608.049988  610.340027  610.340027
2021-10-01  604.239990  613.150024  613.150024

[251 rows x 3 columns]

## Trabajemos con las filas

se utilizan los metodos ``.iloc`` y ``.loc`` :

+ ``.iloc`` selecciona filas basándose en un índice entero . Entonces, si desea seleccionar la quinta fila en un DataFrame, usaría df.iloc [4] ya que la primera fila está en el índice 0, la segunda fila está en el índice 1, y así sucesivamente.
+ ``.loc`` selecciona filas basándose en un índice etiquetado . Entonces, si desea seleccionar la fila con una etiqueta de índice de 5, debe usar directamente df.loc [5].

In [12]:
# selecciona una fila
NFLX.iloc[3]

Open         5.334800e+02
High         5.350000e+02
Low          5.241500e+02
Close        5.317900e+02
Adj Close    5.317900e+02
Volume       5.386500e+06
Name: 2020-10-08, dtype: float64

In [14]:
NFLX.loc["2020-10-08"]

Open         5.334800e+02
High         5.350000e+02
Low          5.241500e+02
Close        5.317900e+02
Adj Close    5.317900e+02
Volume       5.386500e+06
Name: 2020-10-08, dtype: float64

In [8]:
# selecciona un rango de filas
NFLX.iloc[3:10]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-08,533.479980,535.000000,524.150024,531.789978,531.789978,5386500
2020-10-09,537.830017,544.280029,535.000000,539.440002,539.440002,4781300
2020-10-12,548.809998,551.809998,538.239990,539.809998,539.809998,5391100
2020-10-13,540.559998,557.650024,537.200012,554.090027,554.090027,5602500
2020-10-14,562.609985,572.489990,541.000000,541.450012,541.450012,9499000
2020-10-15,545.520020,551.219971,535.099976,541.940002,541.940002,5113100
2020-10-16,549.500000,554.330017,530.030029,530.789978,530.789978,6347400

In [9]:
# selecciona un rango de filas por localización del index

NFLX.loc['2020-10-08':'2020-10-16']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-08,533.479980,535.000000,524.150024,531.789978,531.789978,5386500
2020-10-09,537.830017,544.280029,535.000000,539.440002,539.440002,4781300
2020-10-12,548.809998,551.809998,538.239990,539.809998,539.809998,5391100
2020-10-13,540.559998,557.650024,537.200012,554.090027,554.090027,5602500
2020-10-14,562.609985,572.489990,541.000000,541.450012,541.450012,9499000
2020-10-15,545.520020,551.219971,535.099976,541.940002,541.940002,5113100
2020-10-16,549.500000,554.330017,530.030029,530.789978,530.789978,6347400

In [10]:
#buscar una fila por el indice(Fecha)
'2020-10-08'in NFLX.index,'2024-10-08'in NFLX.index

(True, False)

In [17]:
#valor máximo y mínimo de una variable
max(NFLX["Open"]),min(NFLX["Open"])

(608.049988, 470.950012)

In [18]:
NFLX["Open"].max(), NFLX["Open"].min()

(608.049988, 470.950012)

## Estadística Descriptiva una variable

In [11]:
NFLX["Open"].mean()  #media

525.0599591394423

In [12]:
NFLX["Open"].median()  #mediana

518.5

In [13]:
NFLX["Open"].mode()   #moda

0    495.0
1    500.0
2    520.0
Name: Open, dtype: float64

In [14]:
NFLX["Open"].median()==NFLX["Open"].mean()  # la media es igual a la mediana?

False

## Reportar los datos

### a. como un resumen

In [15]:
NFLX.agg(['min', 'max', 'mean','median']).round(decimals=2)   # resumen

          Open    High     Low   Close  Adj Close       Volume
min     470.95  484.05  463.41  470.50     470.50   1144000.00
max     608.05  619.00  608.05  613.15     613.15  32637500.00
mean    525.06  531.76  518.48  525.14     525.14   4290568.13
median  518.50  524.70  513.56  519.78     519.78   3682400.00

In [16]:
rango=NFLX["Open"].max()-NFLX["Open"].min()
rango

137.09997599999997

In [17]:
V=NFLX["Open"].var()
print('La Varianza de Open NFLX es:',V)

La Varianza de Open NFLX es: 920.7001072839976

In [18]:
std=NFLX["Open"].std()
std

30.34304050822853

In [19]:
NFLX.agg(['min', 'max', 'mean','median','var', 'std']).round(decimals=2)

          Open    High     Low   Close  Adj Close        Volume
min     470.95  484.05  463.41  470.50     470.50  1.144000e+06
max     608.05  619.00  608.05  613.15     613.15  3.263750e+07
mean    525.06  531.76  518.48  525.14     525.14  4.290568e+06
median  518.50  524.70  513.56  519.78     519.78  3.682400e+06
var     920.70  966.58  904.91  949.24     949.24  9.006217e+12
std      30.34   31.09   30.08   30.81      30.81  3.001036e+06

In [20]:
NFLX.describe()

,Open,High,Low,Close,Adj Close,Volume
count,251.000000,251.000000,251.000000,251.000000,251.000000,2.510000e+02
mean,525.059959,531.756014,518.475818,525.135617,525.135617,4.290568e+06
std,30.343041,31.089796,30.081744,30.809680,30.809680,3.001036e+06
min,470.950012,484.049988,463.410004,470.500000,470.500000,1.144000e+06
25%,502.175003,508.474991,495.930008,501.720001,501.720001,2.791800e+06
50%,518.500000,524.700012,513.559998,519.780029,519.780029,3.682400e+06
75%,545.545014,552.720001,538.234985,544.120025,544.120025,4.927350e+06
max,608.049988,619.000000,608.049988,613.150024,613.150024,3.263750e+07

### b. Como un dataframe

#### La libreria numpy

In [21]:
import numpy as np
C25=np.percentile(NFLX["Open"],25)
C50=np.percentile(NFLX["Open"],50)
C75=np.percentile(NFLX["Open"],75)
print('Los cuantiles son:\n primero:',C25,'\n segundo',C50,'\n y tercero:',C75)

Los cuantiles son:
 primero: 502.175003
 segundo 518.5
 y tercero: 545.5450135000001

In [22]:
RI=C75-C25  #rango intercuartilico
RI

43.37001050000009

#### Hagamos un diccionario con los resultados de los cuantiles de Open, y un DataFrame

In [23]:
dic_Open= {
        'C25': [np.percentile(NFLX["Open"],25)],
        'C50': [np.percentile(NFLX["Open"],50)],
        'C75': [np.percentile(NFLX["Open"],75)]
    }           

dic_Open

{'C25': [502.175003], 'C50': [518.5], 'C75': [545.5450135000001]}

In [24]:
df_Open=pd.DataFrame(dic_Open)
df_Open

          C25    C50         C75
0  502.175003  518.5  545.545014

#### Hagamos un diccionario con los resultados de los cuantiles de Open y close, y un DataFrame

In [25]:
OC=pd.DataFrame( {
        'C25': [np.percentile(NFLX["Open"],25),np.percentile(NFLX["Close"],25)],
        'C50': [np.percentile(NFLX["Open"],50),np.percentile(NFLX["Close"],50)],
        'C75': [np.percentile(NFLX["Open"],75),np.percentile(NFLX["Close"],75)]
    })           

OC

          C25         C50         C75
0  502.175003  518.500000  545.545014
1  501.720001  519.780029  544.120025

### Agreguemos el index al DataFrame

In [ ]:
L=["Open","Close"]
OC.index=L
OC

### Transponer el DataFrame

In [ ]:
OC.T

### c. como un texto

In [ ]:
print('tamaño de la base:',NFLX.shape,
      '\n MEDIDAS DE TENDENCIA CENTRAL',
     '\n media:',NFLX.mean(),
     '\n mediana:',NFLX.median(),
     '\n moda:\n',NFLX.mode(),
     '\n tiene sesgo:',NFLX.median()==NFLX.median()
     )

In [ ]:
import numpy as np

print('MEDIDAS DE DISPERSION',
     '\n máximo', NFLX.max(),
     '\n mínimo', NFLX.min(),
     '\n rango', NFLX.max()-NFLX.min(),
    '\n Los cuantiles son:\n primero:\n Open',np.percentile(NFLX["Open"],25),'\n High',np.percentile(NFLX["High"],25),
     '\n segundo:\n Open',np.percentile(NFLX["Open"],50),'\n High',np.percentile(NFLX["High"],50),
      '\n y tercero::\n Open',np.percentile(NFLX["Open"],75),'\n High',np.percentile(NFLX["High"],75),
     )

https://relopezbriega.github.io/blog/2015/06/27/probabilidad-y-estadistica-con-python/

https://coderhook.github.io/Descriptive%20Statistics